{% extends "base.html" %}


{% block body %}
    
    <!--<div class="row" style="margin-top:250px;margin-left:450px;">
        <form method = "post" enctype="multipart/form-data">
            {% csrf_token %}
            
        </form>
    </div>-->

    <div class="container" style="margin-top:200px;">

        <div class="row">
    
          <!-- Post Content Column -->
          <div class="col-lg-8">
    
            <!-- Title -->
            <h1 class="mt-4">{{word.word_en}}</h1>
    
            <!-- Author -->
            <p class="lead">
              by {{word.author}}
            </p>
    
            <hr>
    
            <!-- Date/Time -->
            <p>Posted on  {{word.created_date}}</p>
    
            <hr>
            
            <br><br><br>
            <!-- Single Comment -->
            {% for comment in comments %}
            <div class="media mb-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">{{comment.comment_author}}</h5>
                <small>{{comment.comment_date}}</small><br>
                {{comment.comment_content}}
                <br>
                {% if user.is_superuser or user == comment.comment_author %}
                <a href="{% url 'words:deleteComment' comment.id %}">Sil</a>
                <a href="{% url 'words:updateComment' comment.id %}">Güncelle</a>
                {% else %}
                {% endif %}
                
                <br>
                
              </div>
            </div>
            {% endfor %}
            
    

            <div class="card my-4">
              <h5 class="card-header">Leave a Sentence:</h5>
              <div class="card-body">
                <form method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    <textarea class="form-control" rows="3" name="sentence"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>
    
          </div>
    
        </div>
        <!-- /.row -->
    
      </div>


{% endblock body %} 