{% extends "base.html" %}
{% load static %}
{% block body %}
    <div class="container" style="margin-top: 175px;">
      {% include "include/show_messages.html" %}
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">FOOD</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      {% if user.is_authenticated %}
      <div class="divider-custom">
        <div class="divider-custom-icon"><a href="/word/addWord/food" class="btn btn-primary btn-xl">Kelime Ekle</a></div>
      </div>
      {% else %}
      {% endif %}
      
      {% if words %}
      <table class="table text-center" style="margin-bottom:50px;">
        <thead style="background:#1abc9c;">
          <tr>
            <th scope="col">Kelime</th>
            <th scope="col">Karşılığı</th>
            <th scope="col">Ekleyen</th>
            {% if user.is_superuser %}
            <th scope="col"></th>
            {% else %}
            {% endif %}
            
          </tr>
        </thead>
        <tbody>
          
          {% for word in words %}
            <tr>
                <th scope="row"><a href="/word/detail/{{word.id}}">{{word.word_en}}</a></th>
                <td>{{word.word_tr}}</td>
                <td>{{word.author}}</td>
                {% if user.is_superuser%}
                <td><a href="/word/delete/{{word.id}}"><img src="{% static 'assets/img/trash.png' %}" alt=""></a>
                  <a href="/word/update/{{word.id}}"><img src="{% static 'assets/img/arrow.png' %}" alt=""></a></td>
                {% else %}
                {% endif %}
                
              </tr>
              
          
          {% endfor %}
          
        </tbody>
      </table>
      {% else %}
      <div class="alert alert-danger text-center" style="margin-top:100px;">Henüz Kelime Eklemediniz</div>
      {% endif %}
        

    </div>
{% endblock body %} 