{% extends "base.html" %}
{% block body %}
    <div class="container" style="margin-top: 175px;">

      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">HOME</h2>
      <!-- Icon Divider-->
      <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
      </div>
      {% if user.is_authenticated %}
      <div class="divider-custom">
        <div class="divider-custom-icon"><a href="/word/addWord" class="btn btn-primary btn-xl">Kelime Ekle</a></div>
      </div>
      {% else %}
      {% endif %}
      
      {% if words %}
      <table class="table">
        <thead style="background:#1abc9c;">
          <tr>
            <th></th>
            <th scope="col">Kelime</th>
            <th scope="col">Karşılığı</th>
            <th scope="col">Ekleyen</th>
            {% if user.is_superuser %}
            <th scope="col"></th>
            <th scope="col"></th>
            {% else %}
            {% endif %}
            
          </tr>
        </thead>
        <tbody>
          
          {% for word in words %}
            <tr>
                <th></th>
                <th scope="row"><a href="/word/detail/{{word.id}}">{{word.word_en}}</a></th>
                <td>{{word.word_tr}}</td>
                <td>{{word.author}}</td>
                {% if user.is_superuser%}
                <td><a href="/word/delete/{{word.id}}">Sil</a></td>
                <td><a href="/word/update/{{word.id}}">Güncelle</a></td>
                {% else %}
                {% endif %}
                
              </tr>
              
          
          {% endfor %}
          
        </tbody>
      </table>
      {% else %}
        <h3>Bu kategori'de kelime bulunmamaktadadır</h3>
      {% endif %}
        

    </div>
{% endblock body %} 